<app-navbar-two></app-navbar-two>

<div class="main-banner-area">
    <div class="home-sliders owl-carousel owl-theme">
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <h1 style="text-transform: none;">Deixa a Manu ser o seu Anjo da guarda</h1>
                            <p>A confiança em saber que está sempre sob cuidado!</p>
                            <div class="banner-btn">
                                <a href="#buy" class="default-btn">Iniciar</a>
                                <a href="https://www.youtube.com/watch?v=UisWlk8H2ZY" class="default-btn popup-youtube">Conheça a Manu</a>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="assets/img/home-one/shape.png" alt="image" >
                            <img src="assets/img/home-one/image-1.png" class="banner-img" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <h1 style="text-transform: none;" >Mais de 300 profissionais de saúde, 24 horas e 7 dias da semana</h1>
                            <p>O sistema ePrev é um convite para a medicina do futuro, um guardião da sua saúde em tempo real, 24 horas por dia.</p>
                            <div class="banner-btn">
                                <a routerLink="/about" class="default-btn">Saiba Mais</a>
                                <a href="#buy" class="default-btn">Contrate agora</a>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="assets/img/home-one/shape.png" alt="image">
                            <img src="assets/img/home-one/image-2.png" class="banner-img" alt="image" style="width: 3000px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <h1>Por que escolher a Manu?</h1>
                            <p>A Manu funciona como um real Anjo da Guarda, trabalhando 24 horas em prol da sua saúde</p>
                            <div class="banner-btn">
                                <a href="#buy" class="default-btn">Contrate</a>
                                <a routerLink="/contact" class="default-btn">Contate</a>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="assets/img/home-one/shape.png" alt="image">
                            <img src="assets/img/home-one/image-3.png" class="banner-img" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<section class="features-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Creative <span>Features</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="features-content">
                    <div class="icon">
                        <i class="flaticon-blueprint"></i>
                    </div>
                    <h3>Great Design</h3>
                    <p>Lorem ipsum dolor sit amet consecr adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-content">
                    <div class="icon">
                        <i class="flaticon-update"></i>
                    </div>
                    <h3>Optimal Choice</h3>
                    <p>Lorem ipsum dolor sit amet consecr adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-content">
                    <div class="icon">
                        <i class="flaticon-security"></i>
                    </div>
                    <h3>Finest Quality</h3>
                    <p>Lorem ipsum dolor sit amet consecr adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="features-content">
                    <div class="icon">
                        <i class="flaticon-clock"></i>
                    </div>
                    <h3>Time Saving</h3>
                    <p>Lorem ipsum dolor sit amet consecr adipiscing elit sed do eiusmod tempor incididunt</p>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<section class="overview-section pt-100 pb-70">
    <div class="container">
        <div class="row pb-70">
            <div class="d-flex justify-content-center">
                <h3>Viva com seu anjo da guarda!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="overview-content">
                    <div class="icon">
                        <i class="flaticon-edit"></i>
                    </div>
                    <h3>Tecnologia</h3>
                    <p>O que há de mais atual em tecnologia reunido e um pequeno dispositivo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="overview-content">
                    <div class="icon">
                        <i class="flaticon-thinking"></i>
                    </div>
                    <h3>Inovação</h3>
                    <p>Uma serie de soluções, desenvolvidas pensando em salvar vidas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="overview-content">
                    <div class="icon">
                        <i class="flaticon-analysis"></i>
                    </div>
                    <h3>Prevenção</h3>
                    <p>Pacientes sempre seguros, com um cuidado ininterrupto, prevenindo e detectando adversidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="overview-content">
                    <div class="icon">
                        <i class="flaticon-software"></i>
                    </div>
                    <h3>Confiança</h3>
                    <p>A aliança formada entre a saúde e tecnologia transmite a confiança necessária para o cuidado com seu maior bem: a saúde.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section>-->

<section class="work-section pt-100 pb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="work-content">
                    <h3 style="text-transform: none;">Porque escolher a <span>Manu</span> para ser o seu <span>Anjo</span> da guarda!</h3>
                    <p>Inédito no Brasil, a ePrev Saúde é um centro de monitoramentro remoto para pacientes que precisam de alguma forma preventiva de monitoramento.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="work-status">
                                <h3><span class="odometer" data-count="24">00</span><span class="sign-icon">h</span></h3>
                                <h4>Cuidando</h4>
                                <p>Sinais vitais, assistidos por técnicos e médicos especializados, operando com protocolos das mais variadas doenças.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="work-status">
                                <h3><span class="odometer" data-count="100">00</span><span class="sign-icon">%</span></h3>
                                <h4>Protegido</h4>
                                <p>Acompanhando remotamente alterações dos sinais vitais dos pacientes, durante as 24 horas do dia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pr-0">
                <div class="work-image">
                    <img src="assets/img/work-bg.jpg" alt="image">
                    <a href="https://www.youtube.com/watch?v=UisWlk8H2ZY" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="video-section">
    <div class="container">
        <div class="video-content">
            <a href="https://www.youtube.com/watch?v=aBhrOL1Fhxg" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
        </div>
    </div>
</div>

<section class="skills-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 pl-0">
                <div class="skills-image">
                    <img src="assets/img/skills.jpg" alt="image">
                    <a href="https://www.youtube.com/watch?v=Ia7OziqY4Io" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="skills-area">
                    
                        <div class="design-content">
                            <h3>Análise <span>avançada</span>, por meios <span>tecnologicos</span></h3>
                            <div class="bar"></div>
                            <p>Os dispositivos de monitoramento remoto de pacientes (RPM) permitem que os provedores monitorem, relatem e analisem as condições agudas ou crônicas de seus pacientes de fora do hospital ou clínica. Eles permitem a compreensão em tempo real do estado da doença de um paciente, permitindo que o provedor tome decisões clínicas proativas.</p>
                            <ul class="design-list">
                                <li><i class="flaticon-check"></i> Batimento Cardiaco</li>
                                <li><i class="flaticon-check"></i> Pressão Arterial</li>
                                <li><i class="flaticon-check"></i> Oxigenação</li>
                                <li><i class="flaticon-check"></i> Temperatura</li>
                                <li><i class="flaticon-check"></i> Eletrocardiograma</li>
                                <li><i class="flaticon-check"></i> Alerta de Sedentarismos</li>
                                <li><i class="flaticon-check"></i> Contador de Passos</li>
                                <li><i class="flaticon-check"></i> GPS Localizador</li>
                                <li><i class="flaticon-check"></i> Rota de movimentação</li>
                                <li><i class="flaticon-check"></i> Cercado</li>
                                <li><i class="flaticon-check"></i> Alarme de queda</li>
                                <li><i class="flaticon-check"></i> Qualidade do sono</li>
                                <li><i class="flaticon-check"></i> Chat de Voz</li>
                                <li><i class="flaticon-check"></i> Alarme SOS</li>
                                <li><i class="flaticon-check"></i> Hora da medicação</li>
                                <li><i class="flaticon-check"></i> Ligação Emergência</li>
                                <li><i class="flaticon-check"></i> Chamada de Ambulância</li>
                                <li><i class="flaticon-check"></i> Chamada de UTI Móvel</li>
                                <li><i class="flaticon-check"></i> Encontrar a pulseira pelo celular</li>
                                <li><i class="flaticon-check"></i> Solicitação de marcação de Consulta médica</li>
                                <li><i class="flaticon-check"></i> Tele Consulta</li>
                            </ul>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects-section pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Nosso <span>Diferencial</span></h2>
            
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img1.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>monitoramento 24h de Sinais Vitais</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img2.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>GPS Localizador, Cercado Virtual, Rota de Movimentação</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img3.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Alarme de Queda, Alarme SOS, Chamada de Ambulãcia</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
           
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img17.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Hora de Medicação, Alerta de Sedentarismo. Contador de Passos</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img16.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Chat de Voz, Tele Consulta, Ligação de Emergência</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="single-projects-box">
                    <div class="projects-image">
                        <img src="assets/img/projects/img18.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Chamada de Ambulância, Chamada de UTI Móvel, Ligação de Emergência</h3>
                        <span>Saiba Mais</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="buy" class="pricing-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 p-2">
                    <div class="single-pricing">
                        <div class="pricing-header">
                            <h3>Standard</h3>
                            <p>Business Up</p>
                        </div>
                        <div class="price">
                            <img src="assets/img/products/EFGL7Ou (1).png" alt="" style="height: 270px;">
                            
                        </div>
                        <ul class="pricing-list">
                            <h4>Medição e Envio de Alertas</h4>
                            <li><i class="flaticon-checked"></i> Batimento Cardíaco </li>
                            <li><i class="flaticon-checked"></i> Pressão Arterial </li>
                            <li><i class="flaticon-checked"></i> Oxigenação </li>
                            <li><i class="flaticon-checked"></i> Temperatura </li>
                            <li><i class="flaticon-checked"></i> Alarme de queda </li>
                            <li><i class="flaticon-cancel"></i> Fuga do Cercado Virtual (Alzheimer) </li>
                            <h4>Medição Sem Alerta</h4>
                            <li><i class="flaticon-checked"></i> Eletrocardiograma </li>
                            <li><i class="flaticon-cancel"></i> Contador de Passos </li>
                            <li><i class="flaticon-cancel"></i> Localizador GPS </li>
                            <li><i class="flaticon-cancel"></i> Rota de Movimentação </li>
                            <li><i class="flaticon-cancel"></i> Chat de Voz </li>
                            <li><i class="flaticon-cancel"></i> Alarme SOS </li>
                            <li><i class="flaticon-cancel"></i> Ligação Emergência </li>
                            <h4>Serviços pela Plataforma</h4>
                            <li><i class="flaticon-checked"></i> Alerta da Hora do Remédio </li>
                            <li><i class="flaticon-checked"></i> Encontrar a Pulseira pelo Celular </li>
                            <li><i class="flaticon-checked"></i> Chamada de Ambulância </li>
                            <li><i class="flaticon-checked"></i> Chamada de UTI Móvel </li>
                            <li><i class="flaticon-checked"></i> Marcar Consulta Médica </li>
                        </ul>
                        <div class="price-btn">
                            <a routerLink="/" class="default-btn">Compre agora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-2">
                    <div class="single-pricing">
                        <div class="pricing-header">
                            <h3>Basico</h3>
                            <p>V1GSM</p>
                        </div>
                        <div class="price">
                            <img src="assets/img/products/kkm0Zok.png" alt="" style="height: 270px;">
                        </div> 
                        <ul class="pricing-list">
                            <h4>Medição e Envio de Alertas</h4>
                            <li><i class="flaticon-checked"></i> Batimento Cardíaco </li>
                            <li><i class="flaticon-checked"></i> Pressão Arterial </li>
                            <li><i class="flaticon-checked"></i> Oxigenação </li>
                            <li><i class="flaticon-checked"></i> Temperatura </li>
                            <li><i class="flaticon-checked"></i> Alarme de queda </li>
                            <li><i class="flaticon-checked"></i> Fuga do Cercado Virtual (Alzheimer) </li>
                            <h4>Medição Sem Alerta</h4>
                            <li><i class="flaticon-checked"></i> Eletrocardiograma </li>
                            <li><i class="flaticon-checked"></i> Contador de Passos </li>
                            <li><i class="flaticon-checked"></i> Localizador GPS </li>
                            <li><i class="flaticon-checked"></i> Rota de Movimentação </li>
                            <li><i class="flaticon-checked"></i> Chat de Voz </li>
                            <li><i class="flaticon-checked"></i> Alarme SOS </li>
                            <li><i class="flaticon-checked"></i> Ligação Emergência </li>
                            <h4>Serviços pela Plataforma</h4>
                            <li><i class="flaticon-checked"></i> Alerta da Hora do Remédio </li>
                            <li><i class="flaticon-checked"></i> Encontrar a Pulseira pelo Celular </li>
                            <li><i class="flaticon-checked"></i> Chamada de Ambulância </li>
                            <li><i class="flaticon-checked"></i> Chamada de UTI Móvel </li>
                            <li><i class="flaticon-checked"></i> Marcar Consulta Médica </li>
                        </ul>
                        <div class="price-btn">
                            <a routerLink="/" class="default-btn">Compre Agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section>

<!--<section class="services-section bg-background pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our <span>Awesome</span> Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-it"></i>
                    </div>
                    <h3>IT Consultancy</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-deb0fe">
                        <i class="flaticon-setting"></i>
                    </div>
                    <h3>Web Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-79e8e2">
                        <i class="flaticon-promotion"></i>
                    </div>
                    <h3>Digital Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-fcc774">
                        <i class="flaticon-cellphone"></i>
                    </div>
                    <h3>App Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-84b7fd">
                        <i class="flaticon-shopping-cart"></i>
                    </div>
                    <h3>E-commerce Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-fe929f">
                        <i class="flaticon-optimize"></i>
                    </div>
                    <h3>IT Solutions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore facilisis.</p>
                    <a routerLink="/services-details" class="read-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section>-->

<!--<section class="support-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="support-image">
                    <img src="assets/img/support.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="support-content">
                    <div class="icon">
                        <i class="flaticon-optimize"></i>
                    </div>
                    <h3>Suporte médico e profissional 24 horas</h3>
                    <p>Os dados coletados pela Manu são analisados de forma que o acompanhamento médico fique ainda mais próximo do paciente.</p>
                </div>
                <div class="support-content">
                    <div class="icon">
                        <i class="flaticon-internet"></i>
                    </div>
                    <h3>Tele consultas</h3>
                    <p>Pensando no conforto e praticidade, o paciente conta com mais de 300 profissionais em várias especialidades para tele consulta na plataforma ePrev.</p>
                </div>
                <div class="support-content">
                    <div class="icon">
                        <i class="flaticon-cloud-computing"></i>
                    </div>
                    <h3>Vigilância 24 horas</h3>
                    <p>A qualquer sinal de variação dos parâmetros definidos pelo médico, são enviados sinais de alerta para o paciente ou terceiros, contamos também com alarme de quedas, chamada de ambulâncias e UTI móvel, entre outras medidas de segurança.</p>
                </div>
            </div>
        </div>
    </div>
</section>-->


<!--<section class="choose-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Por Que escolher a Manu?</h2>
            <p>A Manu funciona como um real Anjo da Guarda, trabalhando 24 horas em prol da sua saúde</p>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="choose-text">
                    <div class="icon">
                        <i class="flaticon-shared-folder"></i>
                    </div>
                    <h3>Prevenção</h3>
                    <p>Com ela é possível detectar quaisquer alterações, antes mesmo que o paciente apresente sintomas. </p>
                </div>
                <div class="choose-text">
                    <div class="icon">
                        <i class="flaticon-laptop"></i>
                    </div>
                    <h3>Doenças Crônicas</h3>
                    <p>A Manu dispõe do cuidado constante que as doenças crônicas demandam, 24 horas por dia e 100% de cuidado.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="image">
                    <img src="assets/img/home-one/image-2.png" alt="image">"assets/img/mobile.png"
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="choose-text">
                    <div class="icon">
                        <i class="flaticon-quality"></i>
                    </div>
                    <h3>Transplantados</h3>
                    <p>24 horas de observação, notificando qualquer alteração ou complicação em pacientes transplantados.</p>
                </div>
                <div class="choose-text">
                    <div class="icon">
                        <i class="flaticon-target"></i>
                    </div>
                    <h3>Mal de Alzheimer</h3>
                    <p>Mapeia a localização do paciente, detectando qualquer movimentação fora do raio de locomoção previsto.</p>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<section class="fun-facts-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-check"></i>
                    </div>
                    <h3 class="odometer" data-count="950">00</h3>
                    <p>Completed Project</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div>
                    <h3><span class="odometer" data-count="150">00</span></h3>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h3><span class="odometer" data-count="550">00</span></h3>
                    <p>Multi Service</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span class="odometer" data-count="750">00</span></h3>
                    <p>Winning Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<section class="projects-section pt-100 pb-100">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img8.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>App Update & Rebrand</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img9.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>IT Consultancy</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img10.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Digital Marketing</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img11.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>App Development</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img12.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>IT Solutions</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img13.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Data Management</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img14.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>E-commerce Development</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-0">
                <div class="single-projects-box two">
                    <div class="projects-image">
                        <img src="assets/img/projects/img15.jpg" alt="image">
                    </div>
                    <div class="projects-content">
                        <h3>Creative Web Develop</h3>
                        <span>Research and Startup</span>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<section class="team-section pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Expert Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team/img1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>David Jon Korola</h3>
                        <span>Web Developer</span>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team/img2.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>Alex Maxwel</h3>
                        <span>Software Engineer</span>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team/img3.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>Louis Pasteur</h3>
                        <span>App Developer</span>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->




<section class="blog-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Nossas <span>Ultimas</span> Notícias</h2>
            
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details"><img src="assets/img/blog/img1.jpg" alt="image"></a>
                    </div>
                    <div class="content">
                        <span>20 Março 2020</span>
                        <h3><a routerLink="/blog-details">Transplantes de Rins</a></h3>
                        <p>Os cuidados estão diretamente ligados com o sucesso do tratamento</p>
                        <a routerLink="/blog-details" class="read-more">Leia Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details"><img src="assets/img/blog/img2.jpg" alt="image"></a>
                    </div>
                    <div class="content">
                        <span>25 Abril 2020</span>
                        <h3><a routerLink="/blog-details">Alzheimer Precoce</a></h3>
                        <p>Pessoas com Alzheimer precoce podem apresentar sintomas atípicos</p>
                        <a routerLink="/blog-details" class="read-more">Leia Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details"><img src="assets/img/blog/img3.jpg" alt="image"></a>
                    </div>
                    <div class="content">
                        <span>30 Julho 2020</span>
                        <h3><a routerLink="/blog-details">Pacientes Cardiovasculares</a></h3>
                        <p>O primeiro passo é criar hábitos saudáveis</p>
                        <a routerLink="/blog-details" class="read-more">Leia Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="clients-section bg-background ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>What Our <span>Clients</span> Says</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="clients-slider owl-carousel owl-theme">
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Moris Jacker</h3>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Alex Maxwel</h3>
                    <span>Agent Management</span>
                </div>
            </div>
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Edmond Halley</h3>
                    <span>Web Designer</span>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<div class="partner-section ptb-50">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <a routerLink="/"><img src="assets/img/partnar/1.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a routerLink="/"><img src="assets/img/partnar/2.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a routerLink="/"><img src="assets/img/partnar/3.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a routerLink="/"><img src="assets/img/partnar/4.png" alt="partner"></a>
            </div>
            <div class="partner-item">
                <a routerLink="/"><img src="assets/img/partnar/5.png" alt="partner"></a>
            </div>
        </div>
    </div>
</div>-->