<div class="navbar-area navbar-style-two">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/logo.png" alt="logo" style="width: 250px;">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/" class="nav-link">Inicio</a></li>

                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" style="text-transform: none;">ePrev</a></li>

                    <li class="nav-item"><a routerLink="/pricing" fragment="buy" class="nav-link">Adiquira agora</a></li>

                    <li class="nav-item"><a routerLink="/contact" class="nav-link">Fale conosco</a></li>

                    <li class="nav-item"><a href="https://www.eprevsaude.com.br/representante" target="_blank" class="nav-link">Representantes</a></li>

                    <li class="nav-item"><a href="https://eprev.dav.med.br/login" target="_blank" class="nav-link">Telemedicina </a></li>
                    <li class="nav-item"><a href="https://www.eprevsaude.com.br/auth/login" target="_blank" class="btn btn-primary" style="width: 100%;">Minha Conta</a></li>
                    
                        

                    <!--<li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>-->
                </ul>
                
            </div>
        </nav>
    </div>
</div>